name: Lint GitHub Actions workflows

on:
  push:
    paths:
      - '.github/**'
  pull_request:
    paths:
      - '.github/**'
  merge_group:
    paths:
      - '.github/**'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
