name: Go

on: [pull_request]

jobs:

  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.4'

    - name: Build
      run: go build ./...

    - name: Test
      run: go test -v -race ./...
